.iconbutton {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

section:first-of-type {
	margin-top: 50px;
}

section {
	/* background-color: red; */
	scroll-margin-top: 50px;
	/* max-width: 100vh; */
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	min-height: calc(100vh - 50px);
}

h2 {
	text-align: center;
	font-size: xxx-large;
	background: linear-gradient(
		160deg,
		var(--theme-color-1) 30%,
		var(--theme-color-2) 80%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* @media (max-width: 528px) {
    section {
        max-width: 100%;
    }
} */

section:nth-of-type(odd) {
	/* background-color: blue; */
}

section:not([id='contact']) {
	/* display: none; */
}

.button-spinner {
	animation: spinner 1.5s infinite ease-in-out;
}

@keyframes spinner {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 360deg;
	}
}

button:not(.iconbutton) {
	padding: 0.5rem 1rem;
	position: relative;
	background-color: transparent;
	border: none;
	border-radius: 0.25rem;
	overflow: hidden;
}

button > svg {
	margin: auto;
}

button:not(.iconbutton)::before {
	content: ' ';
	position: absolute;
	top: -500%;
	left: -50%;
	width: 200%;
	height: 1000%;
	transition: rotate 0.3s ease-in-out;
	/* rotate: 90deg; */
	background: linear-gradient(
		160deg,
		var(--theme-color-1) 30%,
		var(--theme-color-2) 70%
	);
	color: white;
	z-index: -1;
}

/* button:not(.iconbutton)[loading='true'] {
	content: 'test';
	position: absolute;
	top: -500%;
	left: -50%;
	width: 200%;
	height: 1000%;
	transition: rotate 0.3s ease-in-out;
	background: linear-gradient(
		160deg,
		var(--theme-color-1) 30%,
		var(--theme-color-2) 70%
	);
	color: white;
	z-index: -1;
} */

button:not(.iconbutton):hover::before {
	rotate: 180deg;
}
