.iconbutton {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

section:first-of-type {
	margin-top: 50px;
}

section {
	/* background-color: red; */
	scroll-margin-top: 50px;
	/* max-width: 100vh; */
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	min-height: calc(100vh - 50px);
}

h2 {
	text-align: center;
	font-size: xxx-large;
	background: linear-gradient(
		160deg,
		var(--theme-color-1) 30%,
		var(--theme-color-2) 80%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* @media (max-width: 528px) {
    section {
        max-width: 100%;
    }
} */

section:nth-of-type(odd) {
	/* background-color: blue; */
}
